<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="MerkleDataFeed" class="src.com.astadia.directv.logging.CustomLoggerDnc">
	   <param name="Threshold" value="DEBUG"/>
	   <param name="File" value="C:\\MerkleDncFeed\\DNC\\CRM\\Log\\INC_MERKLE_DNC.log"/>
	   <param name="Append" value="true" />
	   <layout class="org.apache.log4j.PatternLayout">
	   <param name="ConversionPattern"
	    value="[%-12d{HH:mm:ss:SS} %-5p %c{1} %t]  %m%n"/>
	  </layout>
  </appender>
    
 
  <logger name="src.com.directv.merkle.fileprocess" >
	  <level value="debug"/>
	  <appender-ref ref="MerkleDataFeed"/>
 </logger>
 
   <logger name="org.apache" >
	  <level value="warn"/>
	  <appender-ref ref="MerkleDataFeed"/>
 </logger>
  
</log4j:configuration>
